@import "tailwindcss";

@theme {
  --font-sans: var(--font-noto-sans), sans-serif;
  --font-display: var(--font-space-grotesk), sans-serif;

  --color-primary: #8a211d;
  --color-primary-dark: #6e1a17;
  --color-secondary: #D4AF37;
  --color-background-light: #ffffff;

  --color-text-main: #111318;
  --color-text-secondary: #616f89;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background-light);
  color: var(--color-text-main);
}

/* Material Symbols Utility */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

@keyframes slow-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.animate-slow-zoom {
  animation: slow-zoom 20s ease-in-out infinite alternate;
}

@keyframes glow-primary {
  0% {
    box-shadow: 0 0 10px rgba(138, 33, 29, 0.4);
  }

  50% {
    box-shadow: 0 0 20px rgba(138, 33, 29, 0.8), 0 0 40px rgba(138, 33, 29, 0.4);
  }

  100% {
    box-shadow: 0 0 10px rgba(138, 33, 29, 0.4);
  }
}

@keyframes glow-white {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  }

  50% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 25px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
  }
}

.animate-glow-primary {
  animation: glow-primary 3s infinite ease-in-out;
}

.animate-glow-white {
  animation: glow-white 3s infinite ease-in-out;
}