@import "tailwindcss";

@theme {
  --font-sans: var(--font-noto-sans), sans-serif;
  --font-display: var(--font-space-grotesk), sans-serif;

  --color-primary: #8a211d;
  --color-primary-dark: #6e1a17;
  --color-secondary: #D4AF37;
  --color-background-light: #ffffff;

  --color-text-main: #111318;
  --color-text-secondary: #616f89;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background-light);
  color: var(--color-text-main);
}

/* Local Material Symbols Outlined Font */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  /* Hides raw text, shows icon when loaded */
  src: url('/fonts/material-symbols-outlined.woff2') format('woff2');
}

/* Material Symbols Utility */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

@keyframes slow-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.animate-slow-zoom {
  animation: slow-zoom 20s ease-in-out infinite alternate;
}